.imgs {
    img {
        display: block;
        margin-bottom: 15px;
        height: 70px !important;
        width: 200px !important;
        box-shadow: 0px 0px 6px #6b6b6b;
        border-radius: 5px;
    }
}
